<div class="row header_template">
    <div class="header_template_name">
        <div class="row header_template_employee_name">
            <div class="employe_name_container">
                <span class="employe_name">${EmployeeName}</span>
            </div>
        </div>
        <div class="row header_template_employer_name">
            <div class="employer_name_container">
                <span class="employer_name">${EmployerName}</span>
            </div>
        </div>
    </div>
    <div class="header_template_data">
        <div class="row header_template_last_absence_authorized">
            <div class="header_template_label">
                <p>Last Absence Authorized: </p>
            </div>
            <div class="header_template_data">
                <p>${LastAbsence}</p>
            </div>
        </div>
        <div class="row header_template_referal_date">
            <div class="header_template_label">
                <p>Referal Date: </p>
            </div>
            <div class="header_template_data">
                <p>${ReferralDate}</p>
            </div>
        </div>
        <div class="row header_template_ltd_target_date">
            <div class="header_template_label">
                <p>LTD Target Date: </p>
            </div>
            <div class="header_template_data">
                <p>${LTDTartgetDate}</p>
            </div>
        </div>
        <div class="row header_template_ltd_target_date">
            <div class="header_template_label">
                <p>Total Days Off: </p>
            </div>
            <div class="header_template_data">
                <p>${TDO}</p>
            </div>
        </div>
    </div>
    <div class="header_logo_container">
        <div class="logo_container">
            <div id="logo-container" class="osp-heading panel-heading"></div>
        </div>
    </div>
</div>  